---
import { it } from "~/config"
import AboutContentIt from "~/config/it/about.mdx"
import { getLangFromUrl } from "~/i18n/utils"
import MainLayout from "~/layouts/main.astro"
import { getLanguagePaths } from "~/utils/langs"

export function getStaticPaths() {
  return getLanguagePaths()
}
const aboutContentMap = {
  it: AboutContentIt,
}
const pageMetaMap = {
  it: it.pageMeta,
}
const lang = getLangFromUrl(Astro.url)
const pageMeta = pageMetaMap[lang]
const AboutContent = aboutContentMap[lang]
---

<MainLayout
  title={pageMeta.about.title}
  description={pageMeta.about.description}
  ogImage={pageMeta.about.ogImage}
  needComment={true}
>
  <div class="prose dark:prose-invert max-w-3xl">
    <AboutContent />
  </div>
</MainLayout>
