---
interface Props {
    event: any
    lang: string
}

import { render } from "astro:content"
import { formatDate } from "~/utils"

const { event } = Astro.props
const { Content } = await render(event)
---

<article class="prose dark:prose-invert w-full max-w-3xl overflow-hidden">
    <div class="flex flex-col gap-2">
        <h2 class="!my-0 text-3xl font-semibold">{event.data.title}</h2>
        <div class="my-3 text-gray-500 dark:text-white/80">
            {formatDate(event.data.pubDate)}
        </div>
    </div>

    <div class="my-6">
        <Content />
    </div>

    <div class="space-x-3 pb-10 text-sm text-gray-500">
        {
            event.data.tags.map((tag: string) => (
                <a href={`/tags/${tag}`} class="no-underline">
                    <p class="inline-block hover:scale-105">#{tag}</p>
                </a>
            ))
        }
    </div>
</article>
