---
import IntroContentIt from "~/config/it/intro.mdx"
import { getLangFromUrl } from "~/i18n/utils"

const lang = getLangFromUrl(Astro.url)
const introContentMap = new Map([["it", IntroContentIt]])
const IntroContent = introContentMap.get(lang) || IntroContentIt
---

<div class="my-10">
  <IntroContent />
</div>
