---
import { it } from "~/config"
import { getLangFromUrl, useTranslations } from "~/i18n/utils"

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
const navigationMap = new Map([["it", it.navigation]])
const { home, archive, custom, links, about, events } =
  navigationMap.get(lang) ?? it.navigation
---

<div
  class="mt-4 mb-10 flex gap-4 overflow-x-auto text-lg whitespace-nowrap [-ms-overflow-style:none] [scrollbar-width:none] [&::-webkit-scrollbar]:hidden"
>
  {
    home && (
      <a
        href={`/`}
        class="hover:underline hover:underline-offset-4"
        aria-label={t("nav.home")}
        title={t("nav.home")}
        data-astro-prefetch="viewport"
      >
        <p>{t("nav.home")}</p>
      </a>
    )
  }
  {
    events && (
      <a
        href={`/events`}
        class="hover:underline hover:underline-offset-4"
        aria-label={t("nav.events")}
        title={t("nav.events")}
        data-astro-prefetch="viewport"
      >
        <p>{t("nav.events")}</p>
      </a>
    )
  }
  {
    archive && (
      <a
        href={`/archive`}
        class="hover:underline hover:underline-offset-4"
        aria-label={t("nav.archive")}
        title={t("nav.archive")}
        data-astro-prefetch="viewport"
      >
        <p>{t("nav.archive")}</p>
      </a>
    )
  }
  {
    custom?.map((tab) => (
      <a
        href={tab.link}
        class="hover:underline hover:underline-offset-4"
        target="_blank"
        aria-label={tab.label}
        title={tab.label}
        data-astro-prefetch="viewport"
      >
        <p>{tab.label}</p>
      </a>
    ))
  }
  {
    links && (
      <a
        href={`/links`}
        class="hover:underline hover:underline-offset-4"
        aria-label={t("nav.links")}
        title={t("nav.links")}
        data-astro-prefetch="viewport"
      >
        <p>{t("nav.links")}</p>
      </a>
    )
  }
  {
    about && (
      <a
        href={`/about`}
        class="hover:underline hover:underline-offset-4"
        aria-label={t("nav.about")}
        title={t("nav.about")}
        data-astro-prefetch="viewport"
      >
        <p>{t("nav.about")}</p>
      </a>
    )
  }
</div>
