---
import LinkCard from "~/components/astro/link-card.astro"
import { getConfigByLang } from "~/config"
import LinksContentIt from "~/config/it/links.mdx"
import { links } from "~/config/links"
import { getLangFromUrl, useTranslations } from "~/i18n/utils"
import MainLayout from "~/layouts/main.astro"
import { getLanguagePaths } from "~/utils/langs"
export function getStaticPaths() {
  return getLanguagePaths()
}
const linksContentMap = {
  it: LinksContentIt,
}

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
const LinksContent = linksContentMap[lang]
const pageMeta = getConfigByLang(lang).pageMeta
---

<MainLayout
  title={pageMeta.links.title}
  description={pageMeta.links.description}
  ogImage={pageMeta.links.ogImage}
  needComment={true}
>
  <h3 class="my-10 text-center text-xl font-bold">{t("links.title")}</h3>

  <div class="grid grid-cols-1 gap-6 md:grid-cols-2">
    {links.map((link) => <LinkCard {...link} />)}
  </div>
  <div class="prose dark:prose-invert max-w-3xl">
    <LinksContent />
  </div>
</MainLayout>
