---
import { render } from "astro:content"
import { langs } from "~/i18n/ui"
import { getLangFromUrl } from "~/i18n/utils"
import MainLayout from "~/layouts/main.astro"
import "~/styles/post.css"
import "~/styles/post.scss"
import { formatDate, getEventsByLocale } from "~/utils"

export async function getStaticPaths() {
    const allPaths = []

    for (const lang of langs) {
        const events = await getEventsByLocale(lang)
        const paths = events.map((event: any) => ({
            params: { lang, slug: event.id },
            props: { event },
        }))
        allPaths.push(...paths)
    }

    return allPaths
}

const lang = getLangFromUrl(Astro.url)

const { event } = Astro.props

const { Content } = await render(event)
---

<MainLayout {...event.data}>
    <article class="prose dark:prose-invert w-full max-w-3xl overflow-hidden">
        <div class="flex flex-col gap-2">
            <h2 class="!my-0 text-3xl font-semibold">{event.data.title}</h2>
            <div class="my-3 text-gray-500 dark:text-white/80">
                {formatDate(event.data.pubDate)}
            </div>
        </div>

        <div class="my-6">
            <Content />
        </div>

        <div class="space-x-3 pb-10 text-sm text-gray-500">
            {
                event.data.tags.map((tag: string) => (
                    <a href={`/tags/${tag}`} class="no-underline">
                        <p class="inline-block hover:scale-105">#{tag}</p>
                    </a>
                ))
            }
        </div>
    </article>
</MainLayout>
